/*banner 滑动*/






/*banner 滑动*/

.search{
	width: 90%;
	height: 0.8rem;
	position: relative;
	margin: 0 auto;
	margin-top: 0.4rem;
}
.search input{
	display: block;
	width: 100%;
	height: 0.8rem;
	/*text-align: center;*/
	color: #000;
	font-size: 0.32rem;
	border: #5187EB  solid 1px;
	border-radius: 0.4rem;
	text-indent: 0.4rem;
}
.search span{
	display: inline-block;
	width: 1.5rem;
	height: 100%;
	background: #5187EB 100%;
	position: absolute;
	right: -5px;
	top: 1px;
	border-bottom-right-radius: 0.44rem;
	border-top-right-radius: 0.44rem;
	/*background: url(../img/search.png) no-repeat;
	background-size: 100%;*/
}
.search span img{
	margin-top: 7%;
	margin-left: 30%;
	width: 40%;
	/*height: ;*/
}
.main{
	margin-top: 1.35rem;
}
.main>section{
	width: 100%;
	height: auto;
	margin-top: 0.373333rem;
	/*display: none;*/
	box-sizing: border-box;

	
}
.main>section:first-of-type{
	display: block;
}
.main>section>div{
	width: 49%;
	/*height: 4.333333rem;*/
	float: left;
}
.main>section>div:nth-of-type(odd){
	margin-right:1.5%;
}
.main>section div div:nth-of-type(1){
	width: 4.64rem;
	margin-top: 0.186666rem;
	position: relative;
}
.main>section div div:nth-of-type(1) img{
	width: 95%;
	margin-left: 2.5%;
}
.main>section div div:nth-of-type(1) span:nth-of-type(1){
	position: absolute;
	width: 0.68rem;
	height: 0.373333rem;
	right: 0.36rem;
	top: 0;
	color: #FEFEFE;
	background: #1679F3;
	font-size: 0.24rem;
	border-radius: 0.066666rem;
	display: none;
}
.main>section div div:nth-of-type(2) p{
	width: 100%;
	height: 0.453333rem;
	font-size: 0.32rem;
	color: #444;
	line-height: 0.453333rem;
	text-indent: 2.5%;
}

.main>section div div p:nth-of-type(odd){
	font-weight: bold;
}
.main>section div div p:nth-of-type(even){
	color: #999;
	font-size: 0.266666rem;
	overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
}
#jingxuan{
	padding: 0 0.293333rem;
		padding-bottom: 0.586666rem;
}












.main>section:last-of-type{
	padding-bottom: 0.933333rem;
	width: 100%;
	height: 0.666666rem;
	padding-left: 0.6rem;
	box-sizing: border-box;
}
.main>section:last-of-type>a{
	float: left;
	width: 0.666666rem;
	height: 0.666666rem;
	text-align: center;
	line-height: 0.666666rem;
	font-size: 0.32rem;
	border: solid 1px rgba(153,153,153,1);
	border-radius: 0.066666rem;
}
.main>section:last-of-type>a:first-of-type,
.main>section:last-of-type>a:last-of-type{
	width: 1.2rem;
}
.main>section:last-of-type>a:nth-of-type(2),
.main>section:last-of-type>a:nth-last-of-type(2)
{
	width: 1.2rem;
}
.main>section:last-of-type>a:last-of-type{
	
}
.totalPages,.totalSize{
	display: none;
}




