html,
body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
form,
input,
button,
textarea,
p,
section,
footer,
title,
figure,
header,
span
{
    margin: 0;
    padding: 0;
}
/*img{border: none;vertical-align: middle;border: 0;border-color: rgba(255,255,255,0);}*/
body {
    font-family: "Microsoft YaHei","Heiti SC","Helvetica","HelveticaNeue";
    /*font-family: "microsoft yahei";*/
    /*font-family: "microsoft sans serif";*/
    font-style: normal;
    font-weight: normal;

}
body{
    /*overflow:-Scroll;
    overflow-x:hidden;*/
    /*overflow-y:hidden;*/
}
body,
textarea {
    background: #fff;
}
li{list-style: none;}

input,select,textarea{outline: none;}
input:focus { outline: none; }
textarea{resize: none;}
a{text-decoration: none;}
address,
caption,
cite,
code,
dfn,
em,
strong,
th {
    font-style: normal;
    font-weight: normal;
}
a{
	
	-webkit-tap-highlight-color: rgba(255, 255, 255, 0);
	-webkit-user-select: none;
	-moz-user-focus: none;
	-moz-user-select: none;
}
textarea {
    outline: none;
    overflow: scroll;
    resize: none;
    overflow-x: hidden;
    overflow-y: hidden;
    font-family: "Microsoft YaHei";
}
table{border-collapse: collapse}
img,
textarea,
input {
    border: none;
    outline: none;
    font-family: "Microsoft YaHei";
}
input[type="button"],
input[type="submit"],
input[type="reset"],
input[type="text"]{
    -webkit-appearance: none;
}

.clearfix:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}
.clearfix{zoom:1;}

.center {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}

body{
	background: rgba(247,247,247,1);
	position: relative;
	padding-top: 0.8rem;
}
/*---------init------init------init------init------init------init------*/
/*-----------header------------------------*/
header{
	box-sizing: border-box;
	width: 100%;
	/*height: 1.2rem;*/
	padding: 0.16rem 0.266666rem;
	/*padding-top: 0.16rem;*/
	background: #FFF;
	position: fixed;
	top: 0;
	z-index: 9;
	background: #5187EB;
	/*position: relative;*/
}
header>img:first-of-type{
	width: 2.5rem;
	/*height: 0.8rem;*/
	float: left;
}
header>img:last-of-type{
	width: 0.8rem;
	height: 0.8rem;
	float: right;
	display: none;
}
header>ul{
	display: none;
	width: 3.2rem;
	/*height: 5.226666rem;*/
	background: rgba(255,255,255,1);
	position: absolute;
	top: 1.12rem;
	right: 0;
	border-radius: 0.066666rem;
	box-shadow: 0 8px 8px rgba(114,113,113,0.1);
	/*box-shadow:  2px 9px rgba(114,113,113,0.3);*/
}
header>ul>li{
	width: 100%;
	height: 1.306666rem;
}
header>ul>li>a{
	display: inline-block;
	box-sizing: border-box;
	width: 100%;
	height: 1.306666rem;
	color: rgba(51,51,51,1);
	line-height: 1.306666rem;
	/*text-align: center;*/
	font-size: 0.453333rem;
	padding-left: 0.666666rem;
}
header>ul>li>a:hover{
	color: rgba(153,153,153,1);
}
.wode{
	width: 0.8rem;
	height: 0.4rem;
	font-size: 0.373333rem;
	color: #fff;
	float: right;
}

/*-----------header------------------------*/


/*.img{
	width: 100%;
	height: 2.266666rem;
	position: relative;
}
.img>section{
	width: 50%;
	height: 100%;
	float: left;
	position: relative;
	font-size: 0.28rem;
}
.img>section>img{
	width: 1.813333rem;
	height: 1.813333rem;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	margin: auto;
}
.img>section>p{
	width: 100%;
	font-size: 0.28rem;
	position: absolute;
	bottom: 0;
	color: rgb(153,153,153);
	text-align: center;
}*/

/*-----------------------other---------------------*/
.meunactive{
	display: block !important;
	z-index: 99;
}
.huise{
	color: #999;
}
/*-----------------------other---------------------*/

.flowHeader{
	width: 100%;
	height: 1.173333rem;
	margin-top: 0.3rem;
	position: fixed;
	top: 0.69rem;
	z-index: 9;
	background: #fff;
	/*margin-bottom: ;*/
}
.flowHeader li{
	/*width: ;*/
	/*height: ;*/
	float: left;
	font-size: 0.373333rem;
	color: #5187EB;
	padding: 0 0.333333rem;
	line-height: 1.066666rem;
	/*float: left;*/
}
.flowHeader li a{
	display: block;
	color: #444;
}
.liActive{
	border-bottom: solid 0.053333rem #5187EB;
	color: #5187EB;
}


#ad{
	width: 2.133333rem;
	height: 2.84rem;
	font-size: 0.3rem;
	position: fixed;
	right: 5%;
	top:60%;
	background: #5187EB;
	z-index: 9;
	background: url(../img/timg.png) no-repeat;
	background-size: 100%;
}	
#href{
	display: block;
	width: 2.133333rem;
	height: 2.84rem;
}
#close{
	width: 0.266666rem;
	height: 0.266666rem;
	position: absolute;
	top:-0.5rem;
	left: 0.1rem;
	border-radius: 100%;
	border: solid 1px #333333;
	text-align: center;
	line-height: 0.266666rem;
	z-index: 19;
	/*right: ;
	bottom: ;*/
	
}





.footer{
	width: 100%;
	height: 2.333333rem;
	position: relative;
	/*margin-top: 9.333333rem;*/
}

.footer img{
	width: 60%;
	position: absolute;
	left: 0;
	right: 0;
	margin:0 auto
}
