.main{
	width: 100%;
	height: 100%;
	background: #66CCFF;
	background: url(../img/bgg.png) no-repeat;
	background-size: 100%;
	position: relative;
	padding-top: 0.293333rem;
	font-size: 0.346666rem;
}
.login{
	width: 5.693333rem;
	height: 0.6rem;
	margin: 0 auto;
	text-align: center;
	color: #fff;
	font-size: 0.6rem;
	margin-bottom: 1rem;
}

.main span:nth-of-type(1){
	display: block;
	width: 0.6rem;
	height: 0.546666rem;
	background: url(../img/back.png) no-repeat;
	background-size: 100%;
	margin-left: 0.346666rem;
}
.main>input{
	display: block;
	width: 5.693333rem;
	margin: 0 auto;
	height: 0.706666rem;
	background:rgba(102,204,255,0);
	border-bottom: solid 1px #fff;
	color: #fff;
	font-size: 0.32rem;
	text-indent: 0.973333rem;
}
.main>input:nth-of-type(2){
	margin-top: 1.973333rem;
}
.main>input:nth-of-type(3){
	border-radius: 0.546666rem;
	text-align: center;
	color: #fff;
	font-size: 0.4rem;
	border: solid 1px #fff;
	text-indent: 0;
	margin-top: 1.973333rem;
}
#zhce{
	color: #fff;
	font-size: 0.373333rem;
	text-decoration: underline;
	position: absolute;
	right: 20%;
	margin-top: 0.2rem;
}
#button{
	height: 1.093333rem;
}
.main>p:nth-of-type(2){
	margin-top: 3rem;
	color: #fff;
	font-size: 0.24rem;
	text-align: center;
}
.main>p:nth-of-type(3){
	width: 6.453333rem;
	width: 2.9rem;
	margin: 0 auto;
	margin-top: 0.426666rem;
}
.main>p:nth-of-type(3)>span{
	display: inline-block;
	width: 0.946666rem;
	height: 0.946666rem;
	border-radius: 100%;
	background: #999999;
	margin-left: 0;
}
.main>p:nth-of-type(3)>span:nth-of-type(2){
	margin-left: 1rem;
}
html,body{
	width: 100%;
	height: 100%;
}
#get{
	width: 0.906666rem;
	height: 0.48rem;
	position: absolute;
	text-align: center;
	line-height: 0.48rem;
	color: #fff;
	border-radius: 0.3rem;
	border: solid 1px #fff;
	right: 20%;
	margin-bottom: 01rem;
	top: 4.5rem;
	display: none;
}
.main>p:nth-of-type(3)>span{
	display: inline-block;
	width: 0.946666rem;
	height: 0.946666rem;
	border-radius: 100%;
	background: #999999;
	background: url(../img/faceb.png) no-repeat;
	background-size: 100%;
	margin-left: 0;
}
.main>p:nth-of-type(3)>span:nth-of-type(2){
	margin-left: 1rem;
	background: url(../img/titter.png) no-repeat;
	background-size: 100%;
}