.search {
    width: 90%;
    height: 0.8rem;
    position: relative;
    margin: 0 auto;
    margin-top: 0.4rem;
}
.search input {
    display: block;
    width: 100%;
    height: 0.8rem;
    /* text-align: center; */
    color: rgba(204,204,204,1);
    color: #000;
    font-size: 0.32rem;
    border: #5187EB solid 1px;
    border-radius: 0.4rem;
    text-indent: 0.4rem;
}
.search span {
    display: inline-block;
    width: 1.5rem;
    height: 93%;
    background: #5187EB 100%;
    position: absolute;
    right: -5px;
    top: 1px;
    border-bottom-right-radius: 0.44rem;
    border-top-right-radius: 0.44rem;
}
.search span img {
    margin-top: 7%;
    margin-left: 30%;
    width: 40%;
}
.main{
	width: 90%;
	height: 1.333333rem;
	margin: 0 auto;
	margin-top: 0.266666rem;
}
.main>div{
	width: 100%;
	height: auto;
	text-align: center;
	font-size: 0.4rem;
	/*background: #1679F3;*/
	
}
.main>div>img{
	width: 40%;
	height: auto;
	float: left;
	padding: 0.266666rem 0;
}
.main>div>div{
	float: right;
	width: 55%;
	padding: 0.4rem 0;
}
.main>div>div>p{
	width: 100%;
	height: 100%;
	line-height: 0.586666rem;
	color: #999;
    font-size: 0.4rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}













