.header {
	width: 100%;
	height: 1.173333rem;
	background: #5187EB;
}

.header span {
	display: none;
	font-size: 0.373333rem;
	color: #fff;
	float: right;
	margin-top: 0.4rem;
	margin-right: 0.293333rem;
}

.header .headerActive {
	display: block;
	color: #fff;
}

header {
	width: 100%;
	/*height: 1.066666rem;*/
	margin-bottom: 0.106666rem;
}

header ul {
	width: auto;
	height: 1.066666rem;
	/*padding-top: 0.4rem;*/
}

header ul li {
	/*margin-top: 0.4rem;*/
	float: left;
	font-size: 0.373333rem;
	color: #5187EB;
	padding: 0 0.333333rem;
	line-height: 1.066666rem;
}
header ul li a{
	display: block;
	color: #444;
}
.liActive{
	border-bottom: solid 0.053333rem #5187EB;
	color: #5187EB;
}
.hide{
	display: none !important;
	
}

.show{
	display: block !important;
}




.main{
	width: 100%;
	height: auto;
}
.main video{
	width: 100%;
	/*height: ;*/
}

/*禁止下载*/
video::-internal-media-controls-download-button {
    display:none;
}
video::-webkit-media-controls-enclosure {
    overflow:hidden;
}
video::-webkit-media-controls-panel {
    width: calc(100% + 30px);
}
.detail{
	padding: 0 0.293333rem;
	width: 100%;
	height: auto;
	box-sizing: border-box;
	border-bottom: solid 1px #DFDFDF;
}

.detail p{
	color: #888;
	font-size: 0.293333rem;
	width: 100%;
	/*height: ;*/
}
.detail p span{
	display: inline-block;
	/*width: 100%;*/
	/*height: ;*/
}
.detail p{
	margin-bottom: 0.306666rem;
}
.detail p:nth-of-type(1) span:nth-of-type(1){
	color: #5187EB;font-size: 0.266666rem;
}

.detail .more{
	float: right;
}

.moreDetail{
	display: none;
}
.list{
	width: 100%;
	height: 4.5rem;
	padding: 0 0.293333rem;
	box-sizing: border-box;
	
}
.list section{
	width: 100%;
	height: 0.76rem;
}
.list section span:nth-of-type(1){
	color: #444;
	line-height: 0.76rem;
	font-size: 0.293333rem;
}
.list section span:nth-of-type(2){
	color: #888;
	font-size: 0.24rem;
}

#tabs{
	width: 100%;
	height: auto;
}
.liActive{
	border-bottom: solid #5187EB 2px !important;
}
#tabs ul{
	width: 100%;
	height: 0.813333rem;
	
}
#tabs ul li{
	box-sizing: border-box;
	width: 20%;
	height: 100%;
	float: left;
	text-align: center;
	line-height: 0.813333rem;
	border-right: solid 1px #DFDFDF;
	border-bottom: solid 1px #DFDFDF;
}
#tabs ul li:last-of-type{
	border-right: none;
}
#tabs div{
	width: 100%;
	height: auto;
}
#tabs div section{
	box-sizing: border-box;
	float: left;
	width: 20%;
	height: 1.4rem;
	border-right: solid 1px #DFDFDF;
	border-bottom: solid 1px #DFDFDF;	
	text-align: center;
	line-height: 1.4rem;
}
#tabs div section:nth-of-type(5n){
	border-right: none;
}
.sectionActive{
	background: #5187EB;
	color: #fff;
	font-size: 0.346666rem;
}
.like{
	width: 100%;
	height: auto;
	box-sizing: border-box;
	padding: 0 0.293333rem;
}
.like>p{
	width: 100%;
	height: 0.64rem;
	line-height: 0.64rem;
	color: #444;
	margin-bottom: 0.2rem;
}
.like section{
	float: left;
	width: 25%;
}
.like section img{
	width: 90%;
	margin-left: 5%;
	/*margin: 0 auto;*/
}
.like section p{
	width: 100%;
	height: auto;
	font-size: 0.24rem;
	color: #444;
	line-height: 0.4rem;
}
#over{
	width: 100%;
	height: 5.7rem;
	background: rgba(0,0,0,0);
	z-index: 19;
	position: absolute;
	top: 2.3rem;
	left: 0;
	display: block;
}
